p{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{background-color: black;
    color: #ffff;
 height: 100%;
 width: 100% ;
 font-family:Georgia, 'Times New Roman', Times, serif;

}

video{border-top: chartreuse;


}

